# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.cover
coverage.xml
htmlcov/
.tox/
.pytest_cache/
.pyre/
.mypy_cache/

# Virtual environments
venv/
ENV/
env/
.venv/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
